<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HollyStart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/razv.css}"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <style type="text/css">
        #dateRangeForm .form-control-feedback {
            top: 0;
            right: -15px;
        }



    </style>
    <script>
        $(document).ready(function () {
            $('#startDateRangePicker')
                .datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '01/01/2018',
                    endDate: '01/31/2030'
                });
            $('#endDateRangePicker')
                .datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '01/01/2018',
                    endDate: '01/31/2030'
                });
            $('#postingDatePicker')
                .datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '01/01/2018',
                    endDate: '01/31/2030'
                });
            $('#deadlineRangePicker')
                .datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '01/01/2018',
                    endDate: '01/31/2030'
                })
        });



    </script>
</head>

<body>
<div class="appWrapper">
    <div th:include="fragments/header :: header"></div>
    <div class="heroContainer">
        <div class="authWrapper">
            <div class="title">
                <h3 class="text-center">Add New Announcement</h3>
            </div>


            <div class="row">
                <form action="#" th:action="@{/announcementManagement/addAnnouncement}"
                      th:object="${internshipAnnouncementDTO}" method="post"
                      class="form-horizontal"
                      id="announcementFormContainer"
                >

                    <div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementName">Title:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementName" th:value="${title}" th:field="*{title}"
                                       name="announcementName"
                                       placeholder="Your internshipAnnouncement title here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" id="startDateContainer">
                            <label class="control-label col-sm-2" for="startDate">Start Date:</label>
                            <div class="input-group input-append date col-sm-10" id="startDateRangePicker"
                                 style="padding-right: 15px;padding-left: 15px">
                                <input type="text" class="form-control" name="startDate" id="startDate"
                                       th:value="${startDate}"
                                       th:field="*{startDate}"
                                       th:required="required"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group" id="endDateContainer">
                            <label class="control-label col-sm-2" for="endDate">End Date:</label>
                            <div class="input-group input-append date col-sm-10" id="endDateRangePicker"
                                 style="padding-right: 15px;padding-left: 15px">
                                <input type="text" class="form-control" name="endDate" id="endDate"
                                       th:value="${endDate}"
                                       th:field="*{endDate}"
                                       th:required="required"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group" id="postingDateContainer">
                            <label class="control-label col-sm-2" for="postingDate">Posting Date:</label>
                            <div class="input-group input-append date col-sm-10" id="postingDatePicker"
                                 style="padding-right: 15px;padding-left: 15px">
                                <input type="text" class="form-control" name="postingDate" id="postingDate"
                                       th:value="${postingDate}"
                                       th:field="*{postingDate}"
                                       th:required="required"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementCompany">Company:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementCompany" th:value="${company}" th:field="*{company}"
                                       name="announcementCompany"
                                       placeholder="Your internshipAnnouncement company here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementLocation">Location:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementLocation" th:value="${location}"
                                       th:field="*{location}"
                                       name="announcementLocation"
                                       placeholder="Your internshipAnnouncement location here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementDuration">Duration:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementDuration" th:value="${duration}"
                                       th:field="*{duration}"
                                       name="announcementDuration"
                                       placeholder="Your internshipAnnouncement duration here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementRemoteWork">Remote Work:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementRemoteWork" th:value="${possibilityOfRemoteWork}"
                                       th:field="*{possibilityOfRemoteWork}"
                                       name="announcementRemoteWork"
                                       placeholder="Your internshipAnnouncement remote work here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementWorkingTime">Working time:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementWorkingTime" th:value="${workingTime}"
                                       th:field="*{workingTime}"
                                       name="announcementWorkingTime"
                                       placeholder="Your internshipAnnouncement working time here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementNumberOfPositions">Number Of
                                Positions:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementNumberOfPositions" th:value="${numberOfPositions}"
                                       th:field="*{numberOfPositions}"
                                       name="announcementNumberOfPositions"
                                       placeholder="Your internshipAnnouncement number of positions here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementAvailabilityOfTrainingCourse">Availability
                                of Training Course:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementAvailabilityOfTrainingCourse"
                                       th:value="${availabilityOfTrainingCourse}"
                                       th:field="*{availabilityOfTrainingCourse}"
                                       name="announcementAvailabilityOfTrainingCourse"
                                       placeholder="Your internshipAnnouncement training course availability YES/NO here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementPossibilityOfContract">Possibility Of
                                Contract:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementPossibilityOfContract"
                                       th:value="${possibilityOfContract}" th:field="*{possibilityOfContract}"
                                       name="announcementPossibilityOfContract"
                                       placeholder="Your internshipAnnouncement contract possibility YES/NO here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementBenefits">Benefits:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementBenefits" th:value="${benefits}"
                                       th:field="*{benefits}"
                                       name="announcementBenefits"
                                       placeholder="Your internshipAnnouncement benefits here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementNeededSkills">Needed Skills:</label>
                            <div class="col-sm-10">
                                <input type="text" id="announcementNeededSkills" th:value="${neededSkills}"
                                       th:field="*{neededSkills}"
                                       name="announcementNeededSkills"
                                       placeholder="Your internshipAnnouncement needed skills here"
                                       th:required="required" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="announcementPaidOrNot">Paid Or Not:</label>
                            <div class="col-sm-10">
                                <select class="form-control col-sm-8" data-style="btn-primary" style="margin-left: 15px;margin-right:
                15px;display: inline-block;min-width: 200px;" id="announcementPaidOrNot"
                                        name="announcementPaidOrNot" th:value="${paidOrNot}">
                                    <option th:value="1">true</option>
                                    <option th:value="0">false</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="deadlineContainer">
                            <label class="control-label col-sm-2" for="startDate">Deadline:</label>
                            <div class="input-group input-append date col-sm-10" id="deadlineRangePicker"
                                 style="padding-right: 15px;padding-left: 15px">
                                <input type="text" class="form-control" name="deadline" id="deadline"
                                       th:value="${deadline}"
                                       th:field="*{deadline}"
                                       th:required="required"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <input type="submit" class="btn btn-primary btn-lg btn-success" id="saveButton" value="Add"/>
                    </div>
                </form>
                <div class="col-md-6 text-center">
                    <button class="btn btn-primary btn-lg btn-success pull-right"
                            onclick="location.href='/announcementManagement/'">Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
