<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Students Internship Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/hms.css" th:href="@{/css/hms.css}"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container table-responsive">
    <h2 class="text-center">My Applications</h2>
    <br/>
    <br/>

    <table class="table">
        <thead>
        <tr>
            <th>Announcement</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody th:each="application:${applications}">
        <tr>
            <td th:text="${application.title}"></td>
            <td th:text="${application.startDate}"></td>
            <td th:text="${application.endDate}"></td>
        </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right" onclick="location.href='/'">
                Back
            </button>
        </div>
    </div>

</div>

</body>
</html>