<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>HollyStart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/razv.css}"/>

</head>

<body>
<div class="appWrapper">
    <div th:include="fragments/header :: header"></div>
    <div class="heroContainer">
        <div class="authWrapper">


    <h2 class="text-center">My Applications</h2>
    <br/>
    <br/>

    <table class="table">
        <tr th:each="application:${applications}">
            <div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2"
                 style="width: 20rem; height: 20rem; display: inline-block">
                <div class="card-body">
                    <h5 class="card-title" th:text="${application.title}">Title</h5>
                    <p class="card-text" th:text="${'End date:' + application.endDate}">endDate</p>
                    <p class="card-text" th:text="${'Start date:' + application.startDate}">startDate</p>
                    <!--                <a th:href="@{'/createforItemId/' + ${application.title}}"-->
                    <!--                   class="stretched-link btn btn-sm btn-primary mr-2"><i-->
                    <!--                        class="fas fa-rocket mr-2"></i> Start New Discussion</a>-->
                </div>
            </div>
        </tr>
    </table>


    <div class="row">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right" onclick="location.href='/'">
                Back
            </button>
        </div>
    </div>

</div>
    </div>
</div>


</body>
</html>
