<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<div th:fragment="header">
    <nav class="navbar navbar-fixed-top navbar navbar-light" style="background-color: #e3f2fd; opacity: 0.6">
        <div class ="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="BUG" style="width: 30px; height: 30px"/>
            </a>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()"
                        style="font-size: 20px; font-family: Roboto Mono;">
                        <a href="/myAccount">My Account</a></li>
                    <li sec:authorize="hasAuthority('RECRUITER')"
                        style="font-size: 20px; font-family: Roboto Mono;">
                        <a href="/announcementManagement">Posted announcements</a></li>
                    <li sec:authorize="hasAuthority('RECRUITER')"
                        style="font-size: 20px; font-family: Roboto Mono;">
                        <a href="/announcementManagement/applicationsManagement">Users</a></li>
                    <li sec:authorize="hasAuthority('APPLICANT')"
                        style="font-size: 20px; font-family: Roboto Mono;">
                        <a href="/announcementManagement">Internships</a></li>
                    <li sec:authorize="hasAuthority('APPLICANT')"
                        style="font-size: 20px; font-family: Roboto Mono;">
                        <a href="/applications/myApplications">My Applications</a></li>
                    <li sec:authorize="hasAuthority('APPLICANT')"
                        style="font-size: 20px; font-family: Roboto Mono;">
                        <a href="/common/advice">Advices</a></li>
                    <li sec:authorize="isAuthenticated()"
                        style="font-size: 20px; font-family: Roboto Mono;">
                        <a href="/common/help">Help</a></li>

                    <li sec:authorize="isAuthenticated()"
                        style="font-size: 20px; font-family: Roboto Mono; margin: auto">
                        <form id="logoutForm" name="logoutForm"
                              action="/logout" method="get">
                            <button type="submit" class="logOutButton">
                                Log Out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</div>
</body>
</html>
