<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NPST-Student Internship Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>

    <script src="../static/css/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/hms.css}"/>
</head>
<body>
<div th:fragment="userForm">
    <input type="text" id="id" th:value="${id}" th:field="*{id}" name="id"
           th:hidden="true" hidden="true"/>
    <div class="form-group" id="usernameContainer">
        <label for="username">Username:</label>
        <div>
            <input type="text" id="username" th:value="${username}" th:field="*{username}" name="username"
                   autofocus="autofocus"
                   placeholder="username"
                   th:required="required" class="form-control"/>
        </div>
    </div>
    <div class="form-group" id="passwordContainer">
        <label for="password">Password:</label>
        <div>
            <input type="password" th:value="${password}" id="password" name="password"
                   placeholder="password" th:required="required"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group" id="confirmPasswordContainer">
        <label for="confirmPassword">Confirm Password:</label>
        <div>
            <input type="password" th:value="${confirmPassword}" id="confirmPassword" name="confirmPassword"
                   placeholder="password" th:required="required"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="firstName">First title:</label>
        <div>

        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last title:</label>
        <input type="text" id="lastName" th:value="${lastName}" th:field="*{lastName}" name="lastName"
               placeholder="last title"
               th:required="required" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" th:value="${email}" id="email" name="email" th:field="*{email}" th:required="required"
               placeholder="email"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="skills">Skills:</label>
        <input type="text" th:value="${skills}" id="skills" name="skills"  th:field="*{skills}" th:required="required"
               placeholder="skills"
               class="form-control"/>
    </div>
</div>
</body>
</html>