<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>HollyStart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/razv.css" th:href="@{/css/razv.css}"/>

</head>

<body>
<div class="appWrapper">
    <div th:include="fragments/header :: header"></div>
    <div class="heroContainer">
        <div class="authWrapper">
            <div class="title">
                <span class="white">Welcome to</span>
                <span class="blue">HollyStart</span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="userForm" class="authForm">
    <input type="text" id="id" th:value="${id}" th:field="*{id}" name="id"
           th:hidden="true" hidden="true"/>

    <div class="authInputContainer" id="usernameContainer" >
        <label for="username" class="label">Username:</label>
        <input type="text" id="username" th:value="${username}" th:field="*{username}" name="username"
               autofocus="autofocus"
               placeholder="JohnnyBoy"
               th:required="required" class="authInputComponent"/>
    </div>
    <div class="authInputContainer" id="passwordContainer">
        <label for="password">Password:</label>
        <div>
            <input type="password" th:value="${password}" id="password" name="password"
                   autofocus="autofocus"
                   placeholder="not your bday" th:required="required"
                   class="authInputComponent"/>
        </div>
    </div>
    <div class="authInputContainer" id="confirmPasswordContainer">
        <label for="confirmPassword">Confirm Password:</label>
        <div>
            <input type="password" th:value="${confirmPassword}" id="confirmPassword" name="confirmPassword"
                   placeholder="not your bday again" th:required="required"
                   class="authInputComponent"/>
        </div>
    </div>
    <div class="authInputContainer">
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" th:value="${firstName}" th:field="*{firstName}" name="firstName"
               placeholder="John"
               th:required="required" class="authInputComponent"/>
    </div>
    <div class="authInputContainer">
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" th:value="${lastName}" th:field="*{lastName}" name="lastName"
               placeholder="Doe"
               th:required="required" class="authInputComponent"/>
    </div>
    <div class="authInputContainer">
        <label for="email">Email:</label>
        <input type="email" th:value="${email}" id="email" name="email" th:field="*{email}" th:required="required"
               placeholder="johnDoe@mail.com"
               class="authInputComponent"/>
    </div>

    <div class="authInputContainer">
        <label>Role:</label>
    <select th:field="*{status}" class="selectBox">
        <option th:value="'APPLICANT'" th:text="Applicant" style="color:black"></option>
        <option th:value="'RECRUITER'" th:text="Recruiter" style="color:black"></option>

    </select>
    </div>
<!--    <div class="form-group">-->
<!--        <label for="availability">Availability:</label>-->
<!--        <input type="text" th:value="${availability}" id="availability" name="availability"  th:field="*{availability}" th:required="required"-->
<!--               placeholder="availability"-->
<!--               class="form-control"/>-->

    <div class="authInputContainer">
        <label for="skills">Skills:</label>
        <input type="text" th:value="${skills}" id="skills" name="skills"  th:field="*{skills}"
               placeholder="skills"
               class="authInputComponent"/>
    </div>
    <div class="authInputContainer">
        <label for="education">Education:</label>
        <input type="text" th:value="${education}" id="education" name="education"  th:field="*{education}"
               placeholder="education"
               class="authInputComponent"/>
    </div>
    <div class="authInputContainer">
        <label for="workHistory">Work history:</label>
        <input type="text" th:value="${workHistory}" id="workHistory" name="workHistory"  th:field="*{workHistory}"
               placeholder="work history"
               class="authInputComponent"/>
    </div>

    <div class="authInputContainer">
        <label for="domainsOInterest">Domains Of Interest</label>
        <input type="text" th:value="${domainsOInterest}" id="domainsOInterest" name="domainsOInterest"  th:field="*{domainsOInterest}"
               placeholder="domains of interest"
               class="authInputComponent"/>
    </div>
    <div class="authInputContainer">
        <label for="contact">Contact</label>
        <input type="text" th:value="${contact}" id="contact" name="contact"  th:field="*{contact}"
               placeholder="contact"
               class="authInputComponent"/>
    </div>
<!--    <div class="form-group">-->
<!--        <label for="education">Education:</label>-->
<!--        <input type="text" th:value="${education}" id="education" name="education"  th:field="*{education}" th:required="required"-->
<!--               placeholder="education"-->
<!--               class="form-control"/>-->
<!--    </div>-->
</div>
</body>
</html>

