<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>HollyStart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/razv.css}"/>

</head>

<body>
<div class="appWrapper">
    <div th:include="fragments/header :: header"></div>
    <div class="heroContainer">
        <div class="authWrapper">
            <div class="title">
                <span class="white">Welcome to</span>
                <span class="blue">HolyStart</span>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

