<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title>HollyStart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/razv.css}"/>

</head>

<body>
<div class="appWrapper">
    <div th:include="fragments/header :: header"></div>
    <div class="heroContainer">
        <div class="authWrapper">
            <div class="title">
                <span class="white">Our Advices</span>
            </div>

            <form action="#" th:action="@{/advice}" th:object="${userAuthenticationDTO}" method="get"
                  class="form-horizontal"
                  id="registerFormContainer">
                <div class="d-flex p-2">
                    <p class="text-justify">Hello! Here you can receive an advice of how to create your RESUME in order
                        to apply to
                        the internships or announcements of jobs available.</p>
                    <p class="text-justify">If you will listen to our advice, your RESUME will be accepted easily by any
                        company.</p>
                    <p class="text-justify">Here are 4 steps which will help you create a great RESUME:</p>
                    <p class="text-justify">1. First, you can have a specific template of RESUME in which you can
                        construct your resume. Until we will have that
                        feature in our application for giving specific templates, you can use a few of them which are
                        already available online like: resume.io, canvas.com</p>
                    <p class="text-justify">2. Second, you need to think about what makes you out of common.</p>
                    <p class="text-justify">3. After making an honest opinion about you, you will need to write down a
                        list containing the following step. </p>
                    <p class="text-justify">4. The content of the list should be displayed on this order: Education,
                        Work Experience, Skills, Personal Projects, Spare Time Activity, Volunteering Work </p>
                </div>
            </form>


        </div>
    </div>
</div>
</body>
</html>

