<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <h3 class="text-center">Client Registration</h3>

    <div class="row">
        <form action="#" th:action="@{/register}" th:object="${userAuthenticationDTO}" method="post" class="form-horizontal"
              id="registerFormContainer">
            <div th:include="fragments/userForm :: userForm"></div>
            <button type="submit" class="btn btn-primary btn-lg btn-success">Register
            </button>
            <button class="btn btn-primary btn-lg btn-success pull-right" onclick="location.href='/'">Back</button>
        </form>

    </div>
</div>
</body>
</html>