<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>HollyStart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/razv.css}"/>

</head>

<body>
<div class="appWrapper">
    <div th:include="fragments/header :: header"></div>
    <div class="heroContainer">
        <div class="authWrapper">
            <div class="title">
                <span class="white">Welcome to</span>
                <span class="blue">HollyStart</span>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div th:if="${param.error}">
                    Invalid username or password.
                </div>
                <form th:action="@{/login}" method="post" class="authForm">
                    <div class="authInputContainer">
                        <label for="username"
                               class="label">Username:
                        </label>
                        <input type="text"
                               th:value="${username}"
                               id="username"
                               name="username"
                               autofocus="autofocus"
                               placeholder="username"
                               th:required="required"
                               class="authInputComponent"/>
                    </div>
                    <div class="authInputContainer">
                        <label for="password"
                               class="label">Password:</label>
                        <input type="password"
                               th:value="${password}"
                               id="password"
                               name="password"
                               placeholder="password"
                               th:required="required"
                               class="authInputComponent"
                        />
                    </div>
                    <button type="submit"
                            data-toggle="modal"
                            data-target="#myModalTest"
                            class="authButton">
                        Login
                    </button>

                </form>
                <div class="linkContainer">
                    <a href="/register">Don't have an account? Please register</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
